<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Add new celebrity</a>
<a href="/celebrities">Celebrities List</a>
<a href="/movies/create">Add New Movie</a>
<a href="/movies">Movies List</a>
<br>
<a href="/signup">Sign Up</a>

{{#unless theUser}}
<a href="/login">Login</a>
{{/unless}}
<br><br>
{{#if theUser}}
<form action="/logout" method="post">
<button>Logout</button>
</form>
{{/if}}